<!DOCTYPE HTML>
<html>
 <head>
	<title>{%if page.title != "" && page.title!=nil && page.title!= '' %}{{ page.title }}-{% endif %}{{site.site_title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css" rel="stylesheet" type="text/css" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet" type="text/css" />
	<script src="/js/tagcanvas.min.js"></script>
	{%if page.high_light_on %}
		<script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
		<link href="http://cdn.bootcss.com/highlight.js/8.0/styles/atelier-dune.dark.min.css" rel="stylesheet">
		<script>hljs.initHighlightingOnLoad();</script>
	{% endif %}
 </head>
 <body>
	<div style="width:980px;margin:30px auto;">
			<div class="pure-g">
				
				<!--  标题   -->
				<div class="pure-u-1-1 header-container" style="">
					{%include header_bar.html%}
				</div>
				
				<!--  导航条   -->
 				<div class="pure-u-1-1" style="font-weight: bold;">
					{%include nav.html%}
				</div> 
				
				<!--  日志列表主界面   -->
				<div class="pure-u-3-4">
					<div class="post-container">
						{{ content }}
					</div>
				</div>
				
				<!--  侧边栏   -->
				<div class="pure-u-1-4 sidebar-container">
					<div class="sidebar-block-container">
						{% include sidebar_tags.html %}
					</div>
				</div>
				
				<!--  Footer   -->
				<div class="pure-u-1-1 footer">
					{%include footer.html%}
				</div>
			</div>
	</div>
 </body>
</html>